certifi==2019.6.16
chardet==3.0.4
coremltools==2.1.0
cycler==0.10.0
decorator==4.4.0
graphviz==0.8.4
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
llvmlite==0.29.0
matplotlib==3.1.0
mxnet==1.1.0.post0
numba==0.44.1
numpy==1.16.4
pandas==0.24.2
Pillow==6.0.0
prettytable==0.7.2
protobuf==3.8.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
resampy==0.2.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
turicreate==5.6
urllib3==1.25.3
